<h1> <%=@article.title%> </h1>
<p> <%= @article.body%> <h1>
<ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy" , article_path(@article), 
            data: { #set html data attribute of the link
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure" #cance: will abort the action
                } 
        %>
    </li>
</ul>